body {
  padding: 10px;
  margin: 0;
  background-color: silver;
}
#tabs {
  padding: 0;
  margin: 0;
}
.tabDiv {
  padding: 10px;
}
.tabFocusBtn {
  width: 100%;
  word-break: break-all;
}
.tabMuteBtn {
  width: 25%;
}
.tabPauseBtn {
  width: 25%;
}
.sitePauseBtn {
  width: 25%;
}
.siteMuteBtn {
  width: 25%;
}
.elementDiv {
  width: 100%;
  height: 150px;
}
.previewImg {
  height: 150px;
  float: left;
  border: 5px groove gray;
}
.elementControlsDiv {
  position: relative;
  border: 5px groove gray;
  height: 140px;
  width: 250px;
  float: left;
  padding-top: 10px;
}
.elementFocusBtn {
  width: 70%;
  margin-left: 15%;
}
.elementMuteBtn {
  width: 70%;
  margin-left: 15%;
}
.elementVolumeBtn {
  width: 70%;
  margin-left: 15%;
}
.elementPlayPauseBtn {
  width: 70%;
  margin-left: 15%;
}
.elementTimeBtn {
  width: 70%;
  margin-left: 15%;
}
